# üôá Searching Errors in Dataset

## ‚òùÔ∏èTask Description
This test task presents a sample of high-frequency data containing trades and updates to the limit order book. We have carefully concealed a substantial number of realistic errors in it, and your task is to identify as many errors as possible.

You don't need to show how you searched for errors, create plots, or perform any other analytics.
You also don't need to indicate the row numbers where you found errors.
The only thing required is a brief description (one line is enough) of the nature of each error found.
Task score - percentage of error types found.

## üíª Get ready data for analysis

In [67]:
# upload dataset
import pandas as pd

# read file
df = pd.read_feather("test.feather").reset_index(drop=True)

# overview dataset
df.head()

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
0,4,173525833,1596240037000000000,1596240037431704679,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.25,0.175,0,0.0
1,4,173525834,1596240037000000000,1596240037431749155,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.26,2.000,0,0.0
2,4,122537841,1596240037000000000,1596240037431776197,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.25,0.175,1,0.0
3,4,122537842,1596240037000000000,1596240037431782097,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.26,2.000,1,0.0
4,4,173525835,1596240037000000000,1596240037431794710,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.33,0.004,0,0.0

In [65]:
# overview data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40374 entries, 1000 to 41373
Data columns (total 48 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   type               40374 non-null  int64
 1   msgSeqNum          40374 non-null  int64
 2   exchHostTime       40374 non-null  int64
 3   adapterTime        40374 non-null  int64
 4   px_buy_1           40373 non-null  float64
 5   amt_buy_1          40373 non-null  float64
 6   px_buy_2           40374 non-null  float64
 7   amt_buy_2          40373 non-null  float64
 8   px_buy_3           40374 non-null  float64
 9   amt_buy_3          40373 non-null  float64
 10  px_buy_4           40374 non-null  float64
 11  amt_buy_4          40373 non-null  float64
 12  px_buy_5           40374 non-null  float64
 13  amt_buy_5          40373 non-null  float64
 14  px_buy_6           40374 non-null  float64
 15  amt_buy_6          40373 non-null  float64
 16  px_buy_7           40374 non-null  float64
 17  amt_buy_7          40373 non-null  float64
 18  px_buy_8           40374 non-null  float64
 19  amt_buy_8          40373 non-null  float64
 20  px_buy_9           40374 non-null  float64
 21  amt_buy_9          40373 non-null  float64
 22  px_buy_10          40374 non-null  float64
 23  amt_buy_10         40373 non-null  float64
 24  px_sell_1          40374 non-null  float64
 25  amt_sell_1         40374 non-null  float64
 26  px_sell_2          40374 non-null  float64
 27  amt_sell_2         40374 non-null  float64
 28  px_sell_3          40374 non-null  float64
 29  amt_sell_3         40374 non-null  float64
 30  px_sell_4          40374 non-null  float64
 31  amt_sell_4         40374 non-null  float64
 32  px_sell_5          40374 non-null  float64
 33  amt_sell_5         40374 non-null  float64
 34  px_sell_6          40374 non-null  float64
 35  amt_sell_6         40374 non-null  float64
 36  px_sell_7          40374 non-null  object
 37  amt_sell_7         40374 non-null  float64
 38  px_sell_8          40374 non-null  float64
 39  amt_sell_8         40374 non-null  float64
 40  px_sell_9          40374 non-null  float64
 41  amt_sell_9         40374 non-null  float64
 42  px_sell_10         40374 non-null  float64
 43  amt_sell_10        40374 non-null  float64
 44  trade_px           40374 non-null  float64
 45  trade_amt          40374 non-null  float64
 46  trade_cnt          40374 non-null  int64
 47  moreTradesInBatch  10218 non-null  float64
dtypes: float64(42), int64(5), object(1)
memory usage: 14.8+ MB

**–æ–ø–∏—Å—ã–≤–∞–µ–º –¥–∞—Ç–∞—Å–µ—Ç –∏ —Å—É—Ç—å –∫–æ–ª–æ–Ω–æ–∫**
1. –°–∏—Å—Ç–µ–º–Ω—ã–µ –∏ –≤—Ä–µ–º–µ–Ω–Ω—ã–µ –º–µ—Ç–∫–∏
- type ‚Äî —Ç–∏–ø —Å–æ–æ–±—â–µ–Ω–∏—è (–∫–æ–¥ —Å–æ–±—ã—Ç–∏—è).
- msgSeqNum ‚Äî –ø–æ—Ä—è–¥–∫–æ–≤—ã–π –Ω–æ–º–µ—Ä —Å–æ–æ–±—â–µ–Ω–∏—è.
- exchHostTime ‚Äî –≤—Ä–µ–º—è —Å–æ–±—ã—Ç–∏—è –Ω–∞ —Å—Ç–æ—Ä–æ–Ω–µ –±–∏—Ä–∂–∏.
- adapterTime ‚Äî –≤—Ä–µ–º—è –ø–æ–ª—É—á–µ–Ω–∏—è —Å–æ–±—ã—Ç–∏—è –∞–¥–∞–ø—Ç–µ—Ä–æ–º.

2. –õ–∏–º–∏—Ç–Ω—ã–π —Å—Ç–∞–∫–∞–Ω ‚Äî –∑–∞—è–≤–∫–∏ –Ω–∞ –ø–æ–∫—É–ø–∫—É (Bids)
- px_buy_[1‚Äì10] ‚Äî —Ü–µ–Ω–∞ –ø–æ–∫—É–ø–∫–∏ –Ω–∞ —É—Ä–æ–≤–Ω—è—Ö 1‚Äì10 (1 ‚Äî –ª—É—á—à–∞—è).
- amt_buy_[1‚Äì10] ‚Äî –æ–±—ä—ë–º –∑–∞—è–≤–æ–∫ –Ω–∞ –ø–æ–∫—É–ø–∫—É –Ω–∞ —É—Ä–æ–≤–Ω—è—Ö 1‚Äì10.

3. –õ–∏–º–∏—Ç–Ω—ã–π —Å—Ç–∞–∫–∞–Ω ‚Äî –∑–∞—è–≤–∫–∏ –Ω–∞ –ø—Ä–æ–¥–∞–∂—É (Asks)
- px_sell_[1‚Äì10] ‚Äî —Ü–µ–Ω–∞ –ø—Ä–æ–¥–∞–∂–∏ –Ω–∞ —É—Ä–æ–≤–Ω—è—Ö 1‚Äì10 (1 ‚Äî –ª—É—á—à–∞—è).
- amt_sell_[1‚Äì10] ‚Äî –æ–±—ä—ë–º –∑–∞—è–≤–æ–∫ –Ω–∞ –ø—Ä–æ–¥–∞–∂—É –Ω–∞ —É—Ä–æ–≤–Ω—è—Ö 1‚Äì10.

4. –°–¥–µ–ª–∫–∏
- trade_px ‚Äî —Ü–µ–Ω–∞ —Å–¥–µ–ª–∫–∏.
- trade_amt ‚Äî –æ–±—ä—ë–º —Å–¥–µ–ª–∫–∏.
- trade_cnt ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–¥–µ–ª–æ–∫ –≤ —ç—Ç–æ–º —Å–æ–æ–±—â–µ–Ω–∏–∏.

5. –î–æ–ø. –ø–æ–ª–µ –¥–ª—è —Å–¥–µ–ª–æ–∫
- moreTradesInBatch ‚Äî –ø—Ä–∏–∑–Ω–∞–∫/–∏–Ω–¥–∏–∫–∞—Ç–æ—Ä –Ω–∞–ª–∏—á–∏—è –¥—Ä—É–≥–∏—Ö —Å–¥–µ–ª–æ–∫ –≤ –ø–∞–∫–µ—Ç–µ.

## üëÄ Looking for data errors

In [73]:
# –ü–µ—Ä–µ–≤–æ–¥–∏–º –Ω–∞–Ω–æ—Å–µ–∫—É–Ω–¥—ã –≤ datetime
import pandas as pd

# –ü–µ—Ä–µ–≤–æ–¥–∏–º –Ω–∞–Ω–æ—Å–µ–∫—É–Ω–¥—ã –≤ datetime
df['exchHostTime_dt'] = pd.to_datetime(df['exchHostTime'], unit='ns')
df['adapterTime_dt'] = pd.to_datetime(df['adapterTime'], unit='ns')

# –†–∞–∑–Ω–∏—Ü–∞ –º–µ–∂–¥—É adapterTime –∏ exchHostTime –≤ —Å–µ–∫—É–Ω–¥–∞—Ö
df['time_diff_sec'] = (df['adapterTime'] - df['exchHostTime']) / 1e9

# –†–∞–∑–Ω–∏—Ü–∞ –≤ –º–∏–ª–ª–∏—Å–µ–∫—É–Ω–¥–∞—Ö
df['time_diff_ms'] = df['time_diff_sec'] * 1000

# –í—ã–≤–æ–¥–∏–º –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫ –¥–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏
df.head(10)

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch,exchHostTime_dt,adapterTime_dt,time_diff_sec,time_diff_ms
0,4,173525833,1596240037000000000,1596240037431704679,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.25,0.175,0,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431704679,0.431705,431.704679
1,4,173525834,1596240037000000000,1596240037431749155,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.26,2.000,0,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431749155,0.431749,431.749155
2,4,122537841,1596240037000000000,1596240037431776197,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.25,0.175,1,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431776197,0.431776,431.776197
3,4,122537842,1596240037000000000,1596240037431782097,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.26,2.000,1,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431782097,0.431782,431.782097
4,4,173525835,1596240037000000000,1596240037431794710,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.33,0.004,0,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431794710,0.431795,431.794710
5,4,173525836,1596240037000000000,1596240037431825867,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.35,0.001,0,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431825867,0.431826,431.825867
6,4,122537843,1596240037000000000,1596240037431853669,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.33,0.004,1,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431853669,0.431854,431.853669
7,4,122537844,1596240037000000000,1596240037431858991,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.35,0.001,1,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431858991,0.431859,431.858991
8,4,173525837,1596240037000000000,1596240037431863851,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11358.82,0.001,0,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431863851,0.431864,431.863851
9,4,173525838,1596240037000000000,1596240037431890572,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,13744.17,0.111,11359.00,0.018,0,0.0,2020-08-01 00:00:37,2020-08-01 00:00:37.431890572,0.431891,431.890572

In [68]:
df['type'].value_counts()

type
6    30156
4    10218
Name: count, dtype: int64

In [69]:
df.head(3)

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
0,4,173525833,1596240037000000000,1596240037431704679,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.25,0.175,0,0.0
1,4,173525834,1596240037000000000,1596240037431749155,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.26,2.000,0,0.0
2,4,122537841,1596240037000000000,1596240037431776197,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.25,0.175,1,0.0

In [70]:
import pandas as pd

# –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ DataFrame –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è df

# –í—ã—á–∏—Å–ª—è–µ–º —Ä–∞–∑–Ω–∏—Ü—É –º–µ–∂–¥—É –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω—ã–º–∏ —Å–æ–æ–±—â–µ–Ω–∏—è–º–∏
diffs = df['msgSeqNum'].diff()

# –ù–∞—Ö–æ–¥–∏–º —Å—Ç—Ä–æ–∫–∏, –≥–¥–µ —Ä–∞–∑–Ω–∏—Ü–∞ –Ω–µ —Ä–∞–≤–Ω–∞ 1
violations = df[diffs != 1]

print(f"–ù–∞–π–¥–µ–Ω–æ {len(violations)} –Ω–∞—Ä—É—à–µ–Ω–∏–π –∏–Ω–∫—Ä–µ–º–µ–Ω—Ç–∞ msgSeqNum")
print(violations[['msgSeqNum']].head(10))

–ù–∞–π–¥–µ–Ω–æ 37906 –Ω–∞—Ä—É—à–µ–Ω–∏–π –∏–Ω–∫—Ä–µ–º–µ–Ω—Ç–∞ msgSeqNum
    msgSeqNum
0   173525833
2   122537841
4   173525835
6   122537843
8   173525837
10  122537845
11  173525839
13  122537846
14  173525841
16  122537847

In [34]:
# error number 9: px_sell_7 as object not float
df['px_sell_7'] = df['px_sell_7'].astype('float')

In [13]:
# error number 1: null values in dataset
df[df.isna()]

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
1000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41369,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41370,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41373,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# error number 2: duplicated rows in dataset
df[df.duplicated()]

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
20276,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
20277,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
20278,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
20279,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
20280,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20371,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
20372,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
20373,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
20374,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0
20375,4,173531184,1596240392000000000,1596240392681608559,11378.22,0.14,11378.19,1.597,11378.11,0.005,...,11379.23,1.161,12517.15,2.0,13768.87,0.161,11378.44,-0.906,0,0.0

In [41]:
# error number 3: –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å–¥–µ–ª–æ–∫ –≤ —ç—Ç–æ–º —Å–æ–æ–±—â–µ–Ω–∏–∏ < 0
df[df['trade_cnt']<0].head(2)

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
38548,6,45257909550,1596241367000000000,1596241367117860448,11303.9,0.24,11303.72,0.448,11303.35,0.518,...,11306.31,0.001,12436.94,0.503,13680.63,2.4,0.0,0.0,-1,NaN

In [40]:
# error number 4: –æ–±—ä–µ–º —Å–¥–µ–ª–∫–∏ –Ω–∏–∂–µ 0
df[df['trade_amt']<0].head(2)

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
1025,4,173525848,1596240037000000000,1596240037432199325,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.70,0.063,13744.17,0.111,11357.99,-0.001,0,0.0
1032,4,173525849,1596240037000000000,1596240037437540602,11359.01,0.011,11358.01,0.240,11358.0,2.086,...,11359.77,1.000,12495.75,0.051,13745.32,1.576,11359.34,-0.539,0,0.0

In [28]:
# error number 5: price < 0
df[df['trade_amt']<=0].head(2)

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
1025,4,173525848,1596240037000000000,1596240037432199325,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.70,0.063,13744.17,0.111,11357.99,-0.001,0,0.0
1026,6,45252671063,1596240037000000000,1596240037432311550,11357.99,20.198,11357.67,0.169,11357.5,0.062,...,11359.77,1.000,12495.75,1.000,13745.32,0.056,0.00,0.000,0,NaN

In [30]:
# error number 6: bid-ask crossing
crossed = df[df['px_buy_1'] > df['px_sell_1']]
crossed[['px_buy_1', 'px_sell_1']]

           px_buy_1  px_sell_1
21651  1.137400e+10   11374.01

In [32]:
# error number 7: –ù–∞—Ä—É—à–µ–Ω–∏—è –º–æ–Ω–æ—Ç–æ–Ω–Ω–æ—Å—Ç–∏ –≤ –±–∏–¥-—É—Ä–æ–≤–Ω—è—Ö


import pandas as pd

# –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ DataFrame –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è df
bid_cols = [f'px_buy_{i}' for i in range(1, 11)]

# –°–æ–∑–¥–∞–µ–º –ø—É—Å—Ç–æ–π —Å–ø–∏—Å–æ–∫ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤
violations = []

# –ü—Ä–æ—Ö–æ–¥–∏–º –ø–æ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–µ
for idx, row in df.iterrows():
    for i in range(len(bid_cols) - 1):
        if row[bid_cols[i]] < row[bid_cols[i+1]]:
            violations.append({
                'index': idx,
                'level_1': bid_cols[i],
                'level_2': bid_cols[i+1],
                'value_1': row[bid_cols[i]],
                'value_2': row[bid_cols[i+1]]
            })

# –ü—Ä–µ–≤—Ä–∞—â–∞–µ–º –≤ DataFrame –¥–ª—è —É–¥–æ–±–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞
violations_df = pd.DataFrame(violations)

print(f"–ù–∞–π–¥–µ–Ω–æ {len(violations_df)} –Ω–∞—Ä—É—à–µ–Ω–∏–π –º–æ–Ω–æ—Ç–æ–Ω–Ω–æ—Å—Ç–∏ –≤ –±–∏–¥-—É—Ä–æ–≤–Ω—è—Ö.")
violations_df

–ù–∞–π–¥–µ–Ω–æ 2 –Ω–∞—Ä—É—à–µ–Ω–∏–π –º–æ–Ω–æ—Ç–æ–Ω–Ω–æ—Å—Ç–∏ –≤ –±–∏–¥-—É—Ä–æ–≤–Ω—è—Ö.

   index   level_1    level_2   value_1   value_2
0  10511  px_buy_9  px_buy_10 -11384.15  11384.13
1  15299  px_buy_1   px_buy_2      0.00  11381.78

In [36]:
# error number 8: –ù–∞—Ä—É—à–µ–Ω–∏—è –º–æ–Ω–æ—Ç–æ–Ω–Ω–æ—Å—Ç–∏ –≤ –∞—Å–∫-—É—Ä–æ–≤–Ω—è—Ö:
import pandas as pd

# –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ DataFrame –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è df
ask_cols = [f'px_sell_{i}' for i in range(1, 11)]

# –°–ø–∏—Å–æ–∫ –¥–ª—è —Ö—Ä–∞–Ω–µ–Ω–∏—è –Ω–∞—Ä—É—à–µ–Ω–∏–π
violations = []

# –ü—Ä–æ–≤–µ—Ä–∫–∞ –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏
for idx, row in df.iterrows():
    for i in range(len(ask_cols) - 1):
        if row[ask_cols[i]] > row[ask_cols[i+1]]:
            violations.append({
                'index': idx,
                'level_1': ask_cols[i],
                'level_2': ask_cols[i+1],
                'value_1': row[ask_cols[i]],
                'value_2': row[ask_cols[i+1]]
            })

# –ü—Ä–µ–≤—Ä–∞—â–∞–µ–º –≤ DataFrame –¥–ª—è –∞–Ω–∞–ª–∏–∑–∞
violations_df = pd.DataFrame(violations)

print(f"–ù–∞–π–¥–µ–Ω–æ {len(violations_df)} –Ω–∞—Ä—É—à–µ–Ω–∏–π –º–æ–Ω–æ—Ç–æ–Ω–Ω–æ—Å—Ç–∏ –≤ –∞—Å–∫-—É—Ä–æ–≤–Ω—è—Ö.")
violations_df.head(10)

–ù–∞–π–¥–µ–Ω–æ 7 –Ω–∞—Ä—É—à–µ–Ω–∏–π –º–æ–Ω–æ—Ç–æ–Ω–Ω–æ—Å—Ç–∏ –≤ –∞—Å–∫-—É—Ä–æ–≤–Ω—è—Ö.

   index    level_1    level_2   value_1   value_2
0  19538  px_sell_1  px_sell_2  11373.38  11373.37
1  19538  px_sell_2  px_sell_3  11373.37  11373.04
2  19538  px_sell_3  px_sell_4  11373.04  11373.00
3  19538  px_sell_4  px_sell_5  11373.00  11372.41
4  19538  px_sell_5  px_sell_6  11372.41  11372.36
5  19538  px_sell_6  px_sell_7  11372.36  11372.33
6  19538  px_sell_7  px_sell_8  11372.33  11372.27

In [49]:
# error number 9: –Ω–µ—Å–æ–≥–ª–∞—Å–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ —Å–¥–µ–ª–∫–∞—Ö
import pandas as pd

# –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ DataFrame –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è df

# –£—Å–ª–æ–≤–∏–µ –¥–ª—è –Ω–µ—Å–æ–≥–ª–∞—Å–æ–≤–∞–Ω–Ω—ã—Ö —Å–¥–µ–ª–æ–∫
mask = (
    (df['trade_cnt'] > 0) & 
    ((df['trade_px'].isna()) | 
     (df['trade_amt'].isna()) | 
     (df['trade_amt'] <= 0))
)

# –§–∏–ª—å—Ç—Ä—É–µ–º —Å—Ç—Ä–æ–∫–∏
inconsistent_trades = df[mask]

# –í—ã–≤–æ–¥–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏ –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫
print(f"–ù–∞–π–¥–µ–Ω–æ {len(inconsistent_trades)} –Ω–µ—Å–æ–≥–ª–∞—Å–æ–≤–∞–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫ —Å trade_cnt > 0")
inconsistent_trades.head(10)

–ù–∞–π–¥–µ–Ω–æ 1839 –Ω–µ—Å–æ–≥–ª–∞—Å–æ–≤–∞–Ω–Ω—ã—Ö —Å—Ç—Ä–æ–∫ —Å trade_cnt > 0

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
1033,4,122537851,1596240037000000000,1596240037437568304,11359.01,0.011,11358.01,0.240,11358.00,2.086,...,11359.77,1.000,12495.75,0.051,13745.32,1.576,11357.99,-0.001,1,0.0
1051,4,122537852,1596240037000000000,1596240037589669722,11359.34,2.276,11359.01,0.566,11358.08,0.400,...,11360.15,0.157,12496.16,0.007,13745.78,0.020,11359.34,-0.939,2,0.0
1071,4,122537853,1596240037000000000,1596240037742970355,11359.36,17.258,11359.34,1.439,11359.01,0.566,...,11360.22,0.007,12496.24,0.020,13745.86,1.007,11359.34,-0.061,2,0.0
1082,4,122537854,1596240037000000000,1596240037870627424,11359.36,17.245,11359.34,1.440,11359.04,0.400,...,11360.15,0.157,12496.16,0.007,13745.78,0.020,11359.36,-0.015,1,0.0
1142,4,122537875,1596240037000000000,1596240037903307034,11359.36,17.245,11359.34,1.440,11359.04,0.400,...,11360.15,0.157,12496.16,0.007,13745.78,0.020,11360.37,-0.061,1,0.0
1144,4,122537876,1596240037000000000,1596240037903344680,11359.36,17.245,11359.34,1.440,11359.04,0.400,...,11360.15,0.157,12496.16,0.007,13745.78,0.020,11360.32,-0.148,1,0.0
1145,4,122537877,1596240037000000000,1596240037903359314,11359.36,17.245,11359.34,1.440,11359.04,0.400,...,11360.15,0.157,12496.16,0.007,13745.78,0.020,11359.99,-0.241,1,0.0
1169,4,122537882,1596240037000000000,1596240038008543243,11360.35,1.914,11360.30,1.910,11360.28,2.000,...,11361.59,0.063,12497.75,0.118,13747.53,0.003,11360.27,-0.431,1,0.0
1175,4,122537883,1596240037000000000,1596240038012061914,11360.36,0.312,11360.35,1.874,11360.00,26.545,...,11361.59,0.068,12497.75,0.123,13747.53,0.008,11360.35,-0.040,1,0.0
1182,4,122537884,1596240037000000000,1596240038012580603,11360.36,0.130,11360.35,1.874,11360.00,26.706,...,11361.59,0.068,12497.75,0.123,13747.53,0.008,11360.36,-0.110,3,0.0

In [50]:
# error number 10: –≤—Ä–æ–¥–µ –±—ã –Ω–µ—Ç —Å–¥–µ–ª–æ–∫, –Ω–æ –æ–±—ä—ë–º —É–∫–∞–∑–∞–Ω

import pandas as pd

# –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ DataFrame –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è df

# –£—Å–ª–æ–≤–∏–µ –¥–ª—è "–Ω–µ—Å–æ–≥–ª–∞—Å–æ–≤–∞–Ω–Ω—ã—Ö" —Å—Ç—Ä–æ–∫
mask = (df['trade_cnt'] == 0) & (df['trade_amt'] > 0)

# –§–∏–ª—å—Ç—Ä—É–µ–º —Å—Ç—Ä–æ–∫–∏
inconsistent_trades = df[mask]

# –í—ã–≤–æ–¥–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏ –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫
print(f"–ù–∞–π–¥–µ–Ω–æ {len(inconsistent_trades)} —Å—Ç—Ä–æ–∫ —Å trade_cnt == 0, –Ω–æ trade_amt > 0")
inconsistent_trades.head(10)

–ù–∞–π–¥–µ–Ω–æ 3190 —Å—Ç—Ä–æ–∫ —Å trade_cnt == 0, –Ω–æ trade_amt > 0

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
1000,4,173525833,1596240037000000000,1596240037431704679,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.25,0.175,0,0.0
1001,4,173525834,1596240037000000000,1596240037431749155,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.26,2.000,0,0.0
1004,4,173525835,1596240037000000000,1596240037431794710,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.33,0.004,0,0.0
1005,4,173525836,1596240037000000000,1596240037431825867,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.35,0.001,0,0.0
1008,4,173525837,1596240037000000000,1596240037431863851,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.82,0.001,0,0.0
1009,4,173525838,1596240037000000000,1596240037431890572,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.00,0.018,0,0.0
1011,4,173525839,1596240037000000000,1596240037431919754,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.00,0.040,0,0.0
1012,4,173525840,1596240037000000000,1596240037431949812,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.00,0.005,0,0.0
1014,4,173525841,1596240037000000000,1596240037431984267,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.30,0.106,0,0.0
1015,4,173525842,1596240037000000000,1596240037432010555,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.30,0.005,0,0.0

In [52]:
import pandas as pd
import numpy as np

# –ü—Ä–µ–¥–ø–æ–ª–æ–∂–∏–º, —á—Ç–æ DataFrame –Ω–∞–∑—ã–≤–∞–µ—Ç—Å—è df

# –î–æ–ø—É—Å—Ç–∏–º–∞—è —Ç–æ—á–Ω–æ—Å—Ç—å –¥–ª—è —Å—Ä–∞–≤–Ω–µ–Ω–∏—è —Å –ø–ª–∞–≤–∞—é—â–µ–π —Ç–æ—á–∫–æ–π
epsilon = 1e-8

# –£—Å–ª–æ–≤–∏–µ –¥–ª—è –Ω–µ—Å–æ–≥–ª–∞—Å–æ–≤–∞–Ω–Ω–æ—Å—Ç–∏
mask = (df['trade_cnt'] > 0) & (
    np.abs(df['trade_amt'] / df['trade_cnt'] - df['trade_px']) > epsilon
)

# –§–∏–ª—å—Ç—Ä—É–µ–º —Å—Ç—Ä–æ–∫–∏
inconsistent_trades = df[mask]

# –í—ã–≤–æ–¥–∏–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏ –ø–µ—Ä–≤—ã–µ 10 —Å—Ç—Ä–æ–∫
print(f"–ù–∞–π–¥–µ–Ω–æ {len(inconsistent_trades)} —Å—Ç—Ä–æ–∫ —Å –Ω–µ—Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–µ–º trade_px –∏ trade_amt / trade_cnt")
inconsistent_trades.head(10)

–ù–∞–π–¥–µ–Ω–æ 3930 —Å—Ç—Ä–æ–∫ —Å –Ω–µ—Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–∏–µ–º trade_px –∏ trade_amt / trade_cnt

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
1002,4,122537841,1596240037000000000,1596240037431776197,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.25,0.175,1,0.0
1003,4,122537842,1596240037000000000,1596240037431782097,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.26,2.000,1,0.0
1006,4,122537843,1596240037000000000,1596240037431853669,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.33,0.004,1,0.0
1007,4,122537844,1596240037000000000,1596240037431858991,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.35,0.001,1,0.0
1010,4,122537845,1596240037000000000,1596240037431914638,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.82,0.001,1,0.0
1013,4,122537846,1596240037000000000,1596240037431978620,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.00,0.063,3,0.0
1016,4,122537847,1596240037000000000,1596240037432042464,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.30,0.111,2,0.0
1018,4,122537848,1596240037000000000,1596240037432074254,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.31,1.008,1,0.0
1021,4,122537849,1596240037000000000,1596240037432135019,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.32,0.021,2,0.0
1024,4,122537850,1596240037000000000,1596240037432193442,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.36,1.025,2,0.0

In [56]:
# trade_amt = trade_cnt √ó trade_px

0.063 / 3

0.021

In [62]:
df.loc[1000:1020]

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
1000,4,173525833,1596240037000000000,1596240037431704679,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.25,0.175,0,0.0
1001,4,173525834,1596240037000000000,1596240037431749155,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.26,2.000,0,0.0
1002,4,122537841,1596240037000000000,1596240037431776197,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.25,0.175,1,0.0
1003,4,122537842,1596240037000000000,1596240037431782097,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.26,2.000,1,0.0
1004,4,173525835,1596240037000000000,1596240037431794710,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.33,0.004,0,0.0
1005,4,173525836,1596240037000000000,1596240037431825867,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.35,0.001,0,0.0
1006,4,122537843,1596240037000000000,1596240037431853669,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.33,0.004,1,0.0
1007,4,122537844,1596240037000000000,1596240037431858991,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.35,0.001,1,0.0
1008,4,173525837,1596240037000000000,1596240037431863851,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.82,0.001,0,0.0
1009,4,173525838,1596240037000000000,1596240037431890572,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.00,0.018,0,0.0
1010,4,122537845,1596240037000000000,1596240037431914638,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11358.82,0.001,1,0.0
1011,4,173525839,1596240037000000000,1596240037431919754,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.00,0.040,0,0.0
1012,4,173525840,1596240037000000000,1596240037431949812,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.00,0.005,0,0.0
1013,4,122537846,1596240037000000000,1596240037431978620,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.00,0.063,3,0.0
1014,4,173525841,1596240037000000000,1596240037431984267,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.30,0.106,0,0.0
1015,4,173525842,1596240037000000000,1596240037432010555,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.30,0.005,0,0.0
1016,4,122537847,1596240037000000000,1596240037432042464,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.30,0.111,2,0.0
1017,4,173525843,1596240037000000000,1596240037432048092,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.31,1.008,0,0.0
1018,4,122537848,1596240037000000000,1596240037432074254,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.31,1.008,1,0.0
1019,4,173525844,1596240037000000000,1596240037432079912,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.32,0.016,0,0.0
1020,4,173525845,1596240037000000000,1596240037432105225,11357.99,20.199,11357.67,0.169,11357.5,0.062,...,11358.82,0.001,12494.7,0.063,13744.17,0.111,11359.32,0.005,0,0.0

In [63]:
df

,type,msgSeqNum,exchHostTime,adapterTime,px_buy_1,amt_buy_1,px_buy_2,amt_buy_2,px_buy_3,amt_buy_3,...,px_sell_8,amt_sell_8,px_sell_9,amt_sell_9,px_sell_10,amt_sell_10,trade_px,trade_amt,trade_cnt,moreTradesInBatch
1000,4,173525833,1596240037000000000,1596240037431704679,11357.99,20.199,11357.67,0.169,11357.50,0.062,...,11358.82,0.001,12494.70,0.063,13744.17,0.111,11358.25,0.175,0,0.0
1001,4,173525834,1596240037000000000,1596240037431749155,11357.99,20.199,11357.67,0.169,11357.50,0.062,...,11358.82,0.001,12494.70,0.063,13744.17,0.111,11358.26,2.000,0,0.0
1002,4,122537841,1596240037000000000,1596240037431776197,11357.99,20.199,11357.67,0.169,11357.50,0.062,...,11358.82,0.001,12494.70,0.063,13744.17,0.111,11358.25,0.175,1,0.0
1003,4,122537842,1596240037000000000,1596240037431782097,11357.99,20.199,11357.67,0.169,11357.50,0.062,...,11358.82,0.001,12494.70,0.063,13744.17,0.111,11358.26,2.000,1,0.0
1004,4,173525835,1596240037000000000,1596240037431794710,11357.99,20.199,11357.67,0.169,11357.50,0.062,...,11358.82,0.001,12494.70,0.063,13744.17,0.111,11358.33,0.004,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41369,6,45258026841,1596241406000000000,1596241406563025313,11308.23,0.480,11307.86,1.009,11307.85,0.240,...,11309.87,22.000,12440.86,0.449,13684.95,1.004,0.00,0.000,0,NaN
41370,6,45258026853,1596241406000000000,1596241406565277457,11308.23,6.480,11307.86,1.009,11307.85,0.240,...,11309.90,0.449,12440.89,1.004,13684.98,5.265,0.00,0.000,0,NaN
41371,6,45258026878,1596241406000000000,1596241406567760680,11308.23,6.480,11307.85,0.240,11307.84,8.250,...,11309.90,0.449,12440.89,1.004,13684.98,5.265,0.00,0.000,0,NaN
41372,6,45258026892,1596241406000000000,1596241406570122673,11308.23,0.480,11307.85,0.240,11307.84,8.250,...,11309.90,0.449,12440.89,1.004,13684.98,5.265,0.00,0.000,0,NaN
41373,4,173543213,1596241406000000000,1596241406572315551,11308.23,0.480,11307.85,0.240,11307.84,8.250,...,11309.90,0.449,12440.89,1.004,13684.98,5.265,11308.61,-0.085,0,0.0

–û—Ç–ª–∏—á–Ω–æ ‚Äî —è –ø—Ä–æ–≥–Ω–∞–ª –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏–π –∞—É–¥–∏—Ç –∏ –Ω–∞—à—ë–ª –Ω–∞–±–æ—Ä —Ä–µ–∞–ª—å–Ω—ã—Ö –∞–Ω–æ–º–∞–ª–∏–π/–æ—à–∏–±–æ–∫. –ù–∏–∂–µ ‚Äî –∫–æ—Ä–æ—Ç–∫–∏–µ –æ–¥–Ω–æ—Å—Ç—Ä–æ—á–Ω—ã–µ –æ–ø–∏—Å–∞–Ω–∏—è –∫–∞–∂–¥–æ–≥–æ —Ç–∏–ø–∞ –æ—à–∏–±–∫–∏ —Å —É–∫–∞–∑–∞–Ω–∏–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ —Å—Ç—Ä–æ–∫, –≥–¥–µ –æ–Ω–∏ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è.

- moreTradesInBatch —Å–æ–¥–µ—Ä–∂–∏—Ç 30156 –ø—Ä–æ–ø—É—Å–∫–æ–≤ (–±–æ–ª—å—à–∞—è —á–∞—Å—Ç—å –∫–æ–ª–æ–Ω–æ–∫ –ø—É—Å—Ç–∞—è).

–í px_buy_1 –∏ –≤ amt_buy_1..10 –ø—Ä–∏—Å—É—Ç—Å—Ç–≤—É–µ—Ç –ø–æ 1 –ø—Ä–æ–ø—É—â–µ–Ω–Ω–æ–º—É –∑–Ω–∞—á–µ–Ω–∏—é –≤ –∫–∞–∂–¥–æ–π (–Ω–µ—Å–æ–≤–ø–∞–¥–µ–Ω–∏–µ –ø–æ –∑–∞–ø–æ–ª–Ω–µ–Ω–Ω–æ—Å—Ç–∏ —É—Ä–æ–≤–Ω–µ–π).

- –ï—Å—Ç—å 2 —Å—Ç—Ä–æ–∫–∏ —Å —Ü–µ–Ω–æ–π ‚â§ 0 (–Ω–µ–¥–æ–ø—É—Å—Ç–∏–º–æ –¥–ª—è —Ü–µ–Ω).

- –ï—Å—Ç—å 3 —Å—Ç—Ä–æ–∫–∏ —Å –æ–±—ä—ë–º–æ–º ‚â§ 0 (–Ω–µ–¥–æ–ø—É—Å—Ç–∏–º—ã–π –æ–±—ä—ë–º).

- –í 1 —Å—Ç—Ä–æ–∫–µ –ª—É—á—à–∏–π –±–∏–¥ –≤—ã—à–µ –ª—É—á—à–µ–≥–æ –∞—Å–∫–∞ (px_buy_1 > px_sell_1) ‚Äî –ø–µ—Ä–µ–∫—Ä—ë—Å—Ç–æ–∫ bid/ask.

- –ù–∞—Ä—É—à–µ–Ω–∏—è –º–æ–Ω–æ—Ç–æ–Ω–Ω–æ—Å—Ç–∏ –≤ –±–∏–¥-—É—Ä–æ–≤–Ω—è—Ö: 2 –Ω–∞—Ä—É—à–∞—é—â–∏–µ –º–µ—Å—Ç–∞ (px_buy_i < px_buy_{i+1}).

- –ù–∞—Ä—É—à–µ–Ω–∏—è –º–æ–Ω–æ—Ç–æ–Ω–Ω–æ—Å—Ç–∏ –≤ –∞—Å–∫-—É—Ä–æ–≤–Ω—è—Ö: 7 –Ω–∞—Ä—É—à–∞—é—â–∏—Ö –º–µ—Å—Ç (px_sell_i > px_sell_{i+1}).

- –î–ª—è 1839 —Å—Ç—Ä–æ–∫ trade_cnt > 0, –Ω–æ trade_px –∏–ª–∏ trade_amt –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –∏–ª–∏ trade_amt <= 0 (–Ω–µ—Å–æ–≥–ª–∞—Å–æ–≤–∞–Ω–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ —Å–¥–µ–ª–∫–∞—Ö).

- –î–ª—è 3190 —Å—Ç—Ä–æ–∫ trade_cnt == 0, –Ω–æ trade_amt > 0 (–≤—Ä–æ–¥–µ –±—ã –Ω–µ—Ç —Å–¥–µ–ª–æ–∫, –Ω–æ –æ–±—ä—ë–º —É–∫–∞–∑–∞–Ω).

–í 3930 —Å—Ç—Ä–æ–∫–∞—Ö trade_px –Ω–µ —Å–æ–≥–ª–∞—Å—É–µ—Ç—Å—è —Å trade_amt / trade_cnt (–Ω–µ—Å–æ–≤–ø–∞–¥–µ–Ω–∏–µ —Ü–µ–Ω—ã/–æ–±—ä—ë–º–∞ –ø—Ä–∏ –Ω–µ–Ω—É–ª–µ–≤–æ–º —á–∏—Å–ª–µ —Å–¥–µ–ª–æ–∫).

–ï—Å—Ç—å 953 —Å–ª—É—á–∞–µ–≤ –±–æ–ª—å—à–∏—Ö —Ä–∞—Å—Ö–æ–∂–¥–µ–Ω–∏–π –º–µ–∂–¥—É adapterTime –∏ exchHostTime (> 1e9 –≤ —Ç–µ—Ö –∂–µ –µ–¥–∏–Ω–∏—Ü–∞—Ö) ‚Äî –ø–æ–¥–æ–∑—Ä–∏—Ç–µ–ª—å–Ω—ã–µ —Ç–∞–π–º—Å—Ç–µ–º–ø—ã/—Å–∏–Ω—Ö—Ä–æ–Ω–∏–∑–∞—Ü–∏—è.

–ï—Å—Ç—å 3 —Å—Ç—Ä–æ–∫–∏ —Å —ç–∫—Å—Ç—Ä–µ–º–∞–ª—å–Ω—ã–º–∏ –≤—ã–±—Ä–æ—Å–∞–º–∏ —Ü–µ–Ω (—Ü–µ–Ω—ã >100√ó –º–µ–¥–∏–∞–Ω—ã –∏–ª–∏ <1/100 –º–µ–¥–∏–∞–Ω—ã) ‚Äî –≤–æ–∑–º–æ–∂–Ω—ã–µ –æ—à–∏–±–∫–∏ –º–∞—Å—à—Ç–∞–±–∞/–µ–¥–∏–Ω–∏—Ü –∏–∑–º–µ—Ä–µ–Ω–∏—è.